
.contact-section{
    /* background: url(banner.jpg) no-repeat center; */
    /* background-color: rgb(4, 4, 90); */
    background-size: cover;
    padding: 20px 0;
    min-height: 100vh;
  }
  .contact-section h1{
    text-align: center;
    color: rgb(255, 255, 255);
  }
  .border{
    width: 100px;
    height: 10px;
    background: #ffffff;
    margin: 40px auto;
  }
  
  .contact-form{
    max-width: 600px;
    margin: auto;
    padding: 0 7px;
    overflow: hidden;
  }
  
  .contact-form-text{
    display: block;
    width: 100%;
    border-radius: 20px;
    margin: 16px 0;
    border: 0;
    /* background: #111; */
    /* background-color: #34495e; */
    background: rgb(255,0,147);
    background: linear-gradient(126deg, rgba(255,0,147,1) 0%, rgba(255,93,0,1) 97%);
    padding: 20px 40px;
    outline: none;
    color: #fff;
    transition: 0.5s;
  }
  .contact-form-text:focus{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  }
  textarea.contact-form-text{
    resize: none;
    height: 120px;
  }
  .contact-form-btn{
    float: right;
    border: 0;
    /* background: #34495e; */
    background: rgb(255,0,147);
    background: linear-gradient(126deg, rgba(255,0,147,1) 0%, rgba(255,93,0,1) 97%);
    color: #fff;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
  }
  .contact-form-btn:hover{
    background: #ffd500;
    
  }
  
  ::placeholder {
    color: rgb(255, 255, 255);
    opacity: 1;
  }