*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

  }
  .Navbar {
      height: 60px;
      display: flex;
      justify-content: space-between;
      align-items: center;
     /* background: #e955d5; */
     /* background: #fcaa59; */
     /* background: #a24da2; */
     /* background: #0077ff; */
     /* background: url('navvf.jpg');
     background-repeat: no-repeat;
     background-size:cover;
     */
     width: 100%;
     /* position: fixed; */
     background: rgb(255,0,147);
     background: linear-gradient(126deg, rgba(255,0,147,1) 0%, rgba(255,93,0,1) 97%);
     backdrop-filter: saturate(180%) blur(10px);
     box-shadow: 2px 8px 4px -4px rgba(0,0,0,.2);

      z-index: 1;
    }
  
  
    .Navbar > .nav-logo {
      font-weight: 700;
      font-size: 21px;
      margin: 15px;
      color: brown;
      cursor: pointer;
      text-decoration: none;
    }
    
    .Navbar > .nav-items > a {
      color: rgb(255, 255, 255);
      font-size: 18px;
      text-decoration: none;
      margin: 15px;
      font-weight: bold;
      position: relative;
      transition: 0.45s;
      opacity: 0.9;
    }
    
    
    .Navbar > .nav-items > a:hover {
      color: rgb(255, 255, 255);
      border-radius: 10px;
      padding: 10px;
      background-color: black;
      opacity: 1;
    }
    
    .Navbar > .nav-items > a::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 2px;
      color:#fff;
      transition: all 0.45s;
    }
    
    .Navbar > .nav-items > a:hover::before {
      width: 100%;
    }
    
    .Navbar > .nav-toggle {
      display: none;
    }
    .detail{
      width: 25px;
      height: 25px;
      border-radius: 50%;
      text-align: center;
      padding: 5px;
    }
    
    @media (max-width: 1000px) {
      .detail{
        width: 25px;
        height: 25px;
        border-radius: 50%;
        text-align: center;
        padding: 5px;
      }
      .Navbar{
        z-index: 1000;
      }
      .Navbar > .nav-items {
        position: absolute;
        top: 60px;
        display: flex;
        flex-direction: column;
        text-align: center;
        /* background: #3b4da7; */
        /* background-color: rgb(2, 2, 126); */
        /* background: rgb(10, 10, 65); */
        /* background:#fcaa59 ; */
        /* background: #3e1e3cf4; */
        background: #87e3ff;
        /* background: #fc59fc; */
        left: 0;
        width: 100%;
        height: 100%;
        transform: translateX(-100%);
        transition: all .45s;
        z-index: 1000;
      }
      .Navbar > .nav-items > a::before {
          background: transparent;
      }
    
      .Navbar > .nav-items.open {
          transform: translateX(0);
      }
    
      .Navbar > .nav-toggle {
        display: flex;
        width: 50px;
        height: 50px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }
    
      .nav-toggle > .bar {
        position: relative;
        width: 32px;
        height: 2px;
        background: #ffffff;
        transition: all 0.45s ease-in-out;
      }
    
      .nav-toggle > .bar::before,
      .nav-toggle > .bar::after {
        content: "";
        position: absolute;
        height: 2px;
        background: #ffffff;
        border-radius: 2px;
        transition: all 0.45s ease-in-out;
      }
    
      .nav-toggle > .bar::before {
        width: 25px;
        transform: translateY(-8px);
        right: 0;
      }
    
      .nav-toggle > .bar::after {
        width: 32px;
        transform: translateY(8px);
      }
    
      .nav-toggle.open > .bar {
          transform: translateX(-40px);
          background: transparent;
      }
    
      .nav-toggle.open > .bar::before {
          width: 32px;
          transform: rotate(45deg) translate(26px, -26px);
      }
    
      .nav-toggle.open > .bar::after {
        transform: rotate(-45deg) translate(26px, 26px);
      }
    
    
    }
  